<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nativa Bank - Account</title>

    <link rel="stylesheet" href="../styles/tailwind.css">
    <link rel="icon" type="image/x-icon" href="./assets/nativa02.svg">

</head>

<body>

    <div id="app" v-cloak>

        <!-- DIV PARA APLICAR LOS DIFERENTES TEMAS DENTRO DE LA PÁGINA -->
        <div :class="tema=='tema_0' ? '' : tema=='tema_1' ? 'theme-autumn-light' : tema=='tema_2' ? 'theme-autumn-dark' : tema=='tema_3' ? 'theme-winter-dark' : ''"
            class="bg-skin-normal min-h-screen">

                        <!-- MINI MENÚ TEMAS -->
                        <div class="fixed bottom-2 left-2 z-[31] group md:flex hidden transition-all ease-in-out duration-500">
                            <button><img class="relative bottom-0 mb-3 h-8 filtro opacity-50 group-hover:opacity-100 ease-in-out duration-300" src="/web/assets/color.png" alt=""></button>
                            <div class="hidden group-hover:flex aparecer2">
                                <button
                                    class="bg-[#f3fcff] mx-1 p-1 hover:bg-[#03caff] rounded-full shadow-[1px_1px_5px_rgba(var(--color-text-base),0.3)] text-center text-[#03caff] hover:text-[#f3fcff] hover:rotate-180 ease-in-out duration-300"
                                    @click="theme(0)">◑</button>
                                <button
                                    class="bg-[#fffaef] mx-1 p-1 hover:bg-[#ed552e] rounded-full shadow-[1px_1px_5px_rgba(var(--color-text-base),0.3)] text-center text-[#ed552e] hover:text-[#fffaef] hover:rotate-180 ease-in-out duration-300"
                                    @click="theme(1)">◑</button>
                                <button
                                    class="bg-[#0d0e0f] mx-1 p-1 hover:bg-[#ed552e] rounded-full shadow-[1px_1px_5px_rgba(var(--color-text-base),0.3)] text-center text-[#ed552e] hover:text-[#0d0e0f] hover:rotate-180 ease-in-out duration-300"
                                    @click="theme(2)">◐</button>
                                <button
                                    class="bg-[#0d0e0f] mx-1 p-1 hover:bg-[#0ad99f] rounded-full shadow-[1px_1px_5px_rgba(var(--color-text-base),0.3)] text-center text-[#0ad99f] hover:text-[#0d0e0f] hover:rotate-180 ease-in-out duration-300"
                                    @click="theme(3)">◐</button>
                            </div>
                        </div>

            <!-- BARRA DE NAVEGACIÓN -->
            <div ref="navbar" class="aparecer md:flex row fixed w-full justify-between pt-2 z-30 hidden">
                <a class="p-2 ml-6 m-3 img1 w-10 h-10" href="/web/accounts.html"></a>

                <nav class="sm:flex row justify-around antialiased text-skin-base">
                    <span class="pr-4 flex flex-col items-center">
                        <a class="p-3 m-2 rounded-2xl text-skin-base text-xs font-bahnschrift font-semibold text-opacity-70 antialiased hover:text-opacity-90 hover:shadow-[0px_0px_2px_rgba(var(--color-fill),1)]  ease-in duration-300"
                            href="/web/accounts.html">ACCOUNTS</a>
                        <div class="absolute mt-10 w-2 h-2 rotate-45 bg-skin-fill aparecer"></div>
                    </span>
                    <span class="pr-4 flex flex-col items-center">
                        <a class="p-3 m-2 rounded-lg hover:rounded-2xl text-skin-base text-xs font-bahnschrift font-semibold text-opacity-70 antialiased hover:text-skin-inverted hover:bg-gradient-to-r hover:from-skin-fill hover:to-skin-button-hover-accent hover:shadow-[1px_1px_5px_rgba(var(--color-button-accent),0.3)] ease-in duration-300"
                            href="/web/transfers.html">TRANFERS</a>
                    </span>
                    <span class="pr-4 flex flex-col items-center">
                        <a class="p-3 m-2 rounded-lg hover:rounded-2xl text-skin-base text-xs font-bahnschrift font-semibold text-opacity-70 antialiased hover:text-skin-inverted hover:bg-gradient-to-r hover:from-skin-fill hover:to-skin-button-hover-accent hover:shadow-[1px_1px_5px_rgba(var(--color-button-accent),0.3)] ease-in duration-300"
                            href="/web/cards.html">CARDS</a>
                    </span>
                    <span class="pr-4 flex flex-col items-center">
                        <a class="p-3 m-2 rounded-lg hover:rounded-2xl text-skin-base text-xs font-bahnschrift font-semibold text-opacity-70 antialiased hover:text-skin-inverted hover:bg-gradient-to-r hover:from-skin-fill hover:to-skin-button-hover-accent hover:shadow-[1px_1px_5px_rgba(var(--color-button-accent),0.3)] ease-in duration-300"
                            href="/web/loan-application.html">LOANS APPLICATION</a>
                    </span>
                    <span class="pr-4 flex flex-col items-center">
                        <a class="p-3 m-2 rounded-lg hover:rounded-2xl text-skin-base text-xs font-bahnschrift font-semibold text-opacity-70 antialiased hover:text-skin-inverted hover:bg-gradient-to-r hover:from-skin-fill hover:to-skin-button-hover-accent hover:shadow-[1px_1px_5px_rgba(var(--color-button-accent),0.3)] ease-in duration-300"
                            href="javascript:void(0);" @click="bankLogout">LOGOUT</a>
                    </span>
                </nav>
            </div>

            <!-- TEMAS RESPONSIVE -->
            <div class="md:hidden flex flex-row fixed w-full justify-between z-50">
                <div class="supercenter-row">
                    <button><img class="relative bottom-0 left-3 mb-3 h-6 filtro opacity-50 group-hover:opacity-100 ease-in-out duration-300" src="/web/assets/color.png" alt="" @click="theme(5)"></button>
                </div>
                <div class=" flex flex-col items-center glass rounded-2xl mr-3 mt-3">
                    <a class="p-3 m-2 rounded-lg z-50 text-skin-base text-xs font-bahnschrift font-semibold text-opacity-70 antialiased"
                        href="javascript:void(0);" @click="bankLogout">LOGOUT</a>
                </div>


            </div>
            

            <!-- BARRA DE NAVEGACIÓN RESPONSIVE-->
            <div class="aparecer md:hidden inset-x-0 bottom-0 pb-4 row fixed w-full pt-2 z-30 glass2 flex items-center justify-center">

                <nav class="flex flex-row antialiased text-skin-base">
                    <span class=" flex flex-col items-center">
                        <a class="p-3 m-2 rounded-2xl text-skin-base text-xs font-bahnschrift font-semibold text-opacity-70 antialiased "
                            href="/web/accounts.html">ACCOUNTS</a>
                        <div class="absolute mt-11 w-2 h-2 rotate-45 bg-skin-fill aparecer"></div>
                    </span>
                    <span class=" flex flex-col items-center">
                        <a class="p-3 m-2 rounded-lg  text-skin-base text-xs font-bahnschrift font-semibold text-opacity-70 antialiased bg-opacity-0"
                            href="/web/transfers.html">TRANFERS</a>
                    </span>
                    <span class="flex flex-col items-center">
                        <a class="p-3 m-2 rounded-lg  text-skin-base text-xs font-bahnschrift font-semibold text-opacity-70 antialiased bg-opacity-0"
                            href="/web/cards.html">CARDS</a>
                    </span>
                    <span class="flex flex-col items-center">
                        <a class="p-3 m-2 rounded-lg  text-skin-base text-xs font-bahnschrift font-semibold text-opacity-70 antialiased bg-opacity-0"
                            href="/web/loan-application.html">LOANS</a>
                    </span>
                </nav>
            </div>

            <!-- MODAL DE DELETE ACCOUNTS -->
            <div v-if="modalDeleteAccounts.open"
                class="aparecer fixed flex justify-center bg-opacity-80 aparecer z-30 w-full h-full glass2">
            </div>
            <div v-if="modalDeleteAccounts.open"
                class="aparecer fixed flex justify-center justify-items-center content-center w-full z-40">
                <div class="flex flex-col justify-center items-center mt-10 bg-skin-normal bg-opacity-20 hover:bg-opacity-30 text-skin-base filter-none md:w-1/2 w-full h-[30rem] rounded-2xl shadow-sm border border-slate-300  transition-all ease-in duration-300">
                    <div class="text-xl font-bahnschrift opacity-80 inline text-red-500">DELETE <b
                            class="text-skin-muted font-bold">ACCOUNT</b></div>

                    <div class="bg-skin-button-accent h-0.5 lg:w-1/2 w-full mt-2 mb-6 bg-opacity-70"></div>
                    <!-- LÍNEA -->

                    <div v-if="(datosCuenta.balance>0) && (!otherAccounts[0])" class="flex flex-col justify-center items-center w-3/4 text-center">
                        <p>You cannot delete this account, because you don't have another one to transfer your funds</p>
                        <button class="boton3b mr-3"
                        @click="modalDeleteAccounts.open=false; modalDeleteAccounts.destiny==''">RETURN</button>
                    </div>
                    

                    <form v-if="otherAccounts[0]" @submit.prevent="deleteAccount(); modalDeleteAccounts.open=false"
                        class="mt-3 flex flex-col justify-center items-center font-notosans w-3/4 text-center">

                        <p class="mb-2">Before you delete this account, the funds are goin to be transfer to another of your
                            accounts.</p>

                        <p class="mb-2">Please, select the destiny account</p>

                        <div v-for="account in otherAccounts">

                            <input class="hidden" type="radio" :id="account.number" :value="account.number"
                                v-model="modalDeleteAccounts.destiny">
                            <label :for="account.number">
                                <div class=" flex relative z-10 hover:z-50 group mt-2 mb-2 bg-gradient-to-b from-skin-button-muted to-skin-button-hover-accent hover:w-52 hover:h-12 rounded-tr-lg rounded-bl-lg hover:rounded-lg hover:bg-opacity-100 ease-in duration-200 text-center items-center justify-center shadow-[1px_1px_5px_rgba(var(--color-button-hover),0.2)]"
                                    :class="[hover[i] ? 'blur-sm' : '', modalDeleteAccounts.destiny==account.number ? 'border-2 border-gray-300 w-52 h-12 rounded-lg' : 'w-44 h-10  grayscale-[50%] hover:grayscale-0']"
                                    @mouseover="cardHover(i)" @mouseleave="this.hover=this.hover.map(hover=>false)">
                                    <p
                                        class="text-white place-self-center font-bahnschrift text-xs font-bold drop-shadow-md group-hover:opacity-100 ease-in duration-200">
                                        {{account.number}}
                                    </p>
                                </div>
                            </label>

                        </div>

                        <div class="flex felx-row justify-between w-3/5">
                            <button class="boton3b mr-3"
                                @click="modalDeleteAccounts.open=false; modalDeleteAccounts.destiny==''">RETURN</button>

                            <button :disabled="modalDeleteAccounts.destiny==''" type="submit"
                                class="disabled:bg-opacity-10 disabled:text-opacity-50 aparecer boton3b ml-3 transition ease-in duration-200">
                                DELETE ACCOUNT
                            </button>

                        </div>


                    </form>

                    <form v-if="(!otherAccounts[0]) && (datosCuenta.balance==0)" @submit.prevent="deleteAccount(); modalDeleteAccounts.open=false" class="mt-3 flex flex-col justify-center items-center font-notosans w-3/4 text-center">

                    <p class="mb-2">Are you shure you want to delete this account?</p>

                    <div class="flex felx-row justify-between w-3/5">
                        <button class="boton3b mr-3"
                            @click="modalDeleteAccounts.open=false; modalDeleteAccounts.destiny==''">RETURN</button>

                        <button type="submit"
                            class="disabled:bg-opacity-10 disabled:text-opacity-50 aparecer boton3b ml-3 transition ease-in duration-200">
                            DELETE ACCOUNT
                        </button>

                    </div>

                    </form>

                </div>
            </div>

            <!-- MODAL DELETE OK O ERROR-->
            <div v-if="modalDeleteAccounts.OK || modalDeleteAccounts.error"
                class="aparecer fixed flex justify-center bg-opacity-80 aparecer z-30 w-full h-full glass2">
            </div>
            <div v-if="modalDeleteAccounts.OK || modalDeleteAccounts.error"
                class="aparecer fixed flex justify-center justify-items-center content-center w-full z-40">
                <div
                    class="flex flex-col justify-center items-center mt-10 bg-skin-normal filter-none w-96 h-36 rounded-2xl shadow-sm border border-slate-300">
                    <p class="text-skin-base text-center p-2 m-1 font-bold"><b>{{modalDeleteAccounts.message}}</b>
                    </p>
                    <button v-if="modalDeleteAccounts.error" class="boton3a" @click="modalDeleteAccounts.error=false">OK</button>
                </div>
            </div>


            <!-- CUERPO -->
            <section class="pt-24 pb-24">

                <div class="container flex flex-col items-center">

                    <div class="m-6 flex sm:flex-row flex-col justify-around items-center">

                        <div class="text-skin-base font-bahnschrift w-3/4">
                            <div class="flex md:flex-row flex-col">
                                <h2 class="-mb-2 mr-1">ACCOUNT NUMBER</h2>
                                <h4 class="text-5xl text-skin-muted mb-3 mr-5">{{datosCuenta.number}}</h4>
                                <h2 class="-mb-2 mr-1">BALANCE $</h2>
                                <h4 class="text-5xl text-skin-muted mb-3">{{datosCuenta.balance}}</h4>
                            </div>

                            <h4 class=" text-opacity-70">Creation date: {{datosCuenta.creationDate}}</h4>
                        </div>

                        <button class="boton2" @click="modalDeleteAccounts.open=true">DELETE ACCOUNT</button>

                        
                    </div>

                    <div class="bg-skin-button-accent h-0.5 lg:w-1/2 w-full mt-6 mb-6 bg-opacity-70"></div>
                        <!-- LÍNEA --> 

                    <div class="flex flex-col mr-6 ml-6 w-1/2">

                        

                        <h2 class="ml-12 text-skin-base text-xl font-bahnschrift">TRANSACTION DATA</h2>

                        <div v-for="transaction in datosCuenta.transactionList"
                            class="container flex flex-col items-center p-3 mb-2 bg-dark text-white font-notosans justify-content-around">
    
                            <div class="flex md:flex-row flex-col" :class="transaction.type=='CREDIT' ? 'letraroja' : 'letraverde'">

                                <div class="mr-3">

                                    <h3>Type: {{transaction.type}}</h3>
                                    <h3>Balance after transaction: {{transaction.currentBalance}}</h3>
                                    <h4>Date: {{transaction.date}}</h4>

                                </div>


                                <div class="ml-3">

                                </div>

                                <div class="font-bahnschrift font-bold ml-3" :class="transaction.type=='CREDIT' ? 'letraroja' : 'letraverde'">
                                    <h3>AMOUNT: ${{transaction.amount}}</h3>
                                </div>

                            </div>

                            <h3 class="text-skin-base text-left">Description: {{transaction.description}}</h3>

                            <div class="bg-skin-button-muted h-0.5 lg:w-1/2 w-full mt-6 mb-6 bg-opacity-70"></div>
                            <!-- LÍNEA --> 

                        </div>

                    </div>


                    <div class="boton2"><a href="javascript:history.back();">GO BACK</a></div>

                </div>

            </section>
            
            </div>

            

        </div>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./scripts/account.js"></script>
</body>

</html>